body{
    background-color: rgb(74, 91, 120);
    margin: 0;
    font-family: Arial;
}

header{
    width: 90%;
    margin: auto;
}

header nav ul{
    list-style: none;
    background-color: #eeeeee;
    padding: 20px;
    margin: 20px 0 0 0;
}

header nav ul li{
    display: inline-block;
    margin-right: 40px;
}

header nav ul li a{
    text-decoration: none;
    color: black;
}

.contenido{
    width: 90%;
    margin: auto;
    display: flex;
}

.principal{
    width: 70%;
    background-color: white;
}

.principal img{
    width: 100%;
    display: block;
}

.texto{
    padding: 30px;
}

.texto h1{
    margin-top: 0;
}

.texto p{
    line-height: 25px;
}

footer{
    background-color: deeppink;
    color: white;
    text-align: center;
    padding: 40px;
}

aside{
    width: 30%;
    background-color: rgb(74, 91, 120);
    padding: 20px;
}

aside h2{
    background-color: turquoise;
    margin: 0;
    padding: 20px 20px 10px 20px;
}

aside p{
    background-color: turquoise;
    margin: 0;
    padding: 10px 20px;
    border-top: 1px solid black;
}